<!DOCTYPE html>
<html lang="en" class="welcome-is-entered" id="html">

<head>
<meta charset="UTF-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->

<!-- Title and Meta-->
<title>{{page_title}}</title>
<meta name="author" content="GreenRubino">
<meta name="description" content="{{page_title}}">

<!-- Facebook Open Graph Meta-->
<meta property="og:title" content="{{page_title}}">
<meta property="og:url" content="">
<meta property="og:site_name" content="{{page_title}}">
<meta property="og:description" content="{{page_desc}}">
<meta property="og:image" content="assets/images/icons/og-share.png">

<!-- Twitter Meta -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{page_title}}"/>
<meta name="twitter:url" content="https://www.holidayjammin.com/">
<meta name="twitter:site" content="@greenrubino"/>
<meta name="twitter:creator" content="https://twitter.com/greenrubino">
<meta name="twitter:domain" content="https://www.holidayjammin.com/">
<meta name="twitter:image" content="assets/images/icons/og-share.png">

<!-- Mobile -->
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

<!-- Favs-->
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favs/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favs/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favs/favicon-16x16.png">

<!-- CSS  -->
<link rel='stylesheet' href='assets/css/app.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/fonts.min.css' type='text/css' media='all' />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9ZQT3Q');</script>

</head>

<body>
