{{#this}}
<article class="playlist-peep">
  <a class="playlist-peep__link js-peep" data-song-src="../audio/{{song_url}}" data-song-title="{{song_title}}" data-song-artist="{{song_artist}}">
    <figure class="playlist-peep__figure">
      <div class="playlist-peep__scaler">
        <img id="{{peepNameID first_name last_name}}" class="playlist-peep__img" src="assets/images/peeps/{{avatar}}" alt="{{first_name}} {{last_name}}"/>
        <div class="playlist-peep__spindle"></div>
      </div>
    </figure>
    <span class="playlist-peep__icon"><i class="icon-play"></i></span>
    <header class="playlist-peep__header">
      <h3 class="playlist-peep__name">{{first_name}}</h3>
      <span class="playlist-peep__role">{{role}}</span>
    </header>
  </a>
</article>
{{/this}}
